.bestdeals {
    display: flex;
    justify-content: space-between;
    padding: 20px 14px;
}

.bestdeals-head h3 {
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: bold;
}

.bestdeals-view button {
    background: white;
    border-color: #f5831a;
    color: #f5831a;
    box-shadow: none;
    border-radius: 5px;
    padding: 3px;
    font-size: 13px;
}

.bestdeals-view button:hover {
    background: white;
    border-color: #f5831a;
    color: #f5831a;
    box-shadow: none;
    border-radius: 5px;
    padding: 3px;
    font-size: 13px;
}

.slick-prev {
    left: 0px;
}

.slick-next {
    right: 0px;
}

.bestdeals-content {
    margin-top: 200px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bestdeals-sub {
    padding: 0px 0px 0px 0px;
    min-width: 100%;
    display: flex;
    overflow-x: auto;
}

.bestdeals-sub::-webkit-scrollbar {
    display: none;
}

.bestdeals-card {
    border: 1px solid #d5d5d5;
}

.bestdealshead {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.bestdealshead h3 {
    font-weight: bold;
}

.cardbottom {
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

.cardbottom .price .error {
    font-size: 12px;
    color: #f5831a;
    margin-bottom: 0px;
    font-weight: 600;
    padding: 0px;
}

.cardbottom .price .real {
    font-size: 12px;
    padding: 0px;
    text-decoration: line-through;
    color: black;
    margin-bottom: 0px;
}

.cardbottom .addtocart {
    color: white;
    background: #f5831a;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    padding: 5px 0px;
}

.bestdeals-card p {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding: 6px;
}

.bestdealshead .star {
    font-size: 12px;
}

.newdesign {
    text-align: center;
    padding: 0px 20px 10px 20px;
    /* margin: 0px 0px 10px 0px; */
    margin: 0px 5px 10px 5px;
    /* margin: 0px 25px 10px 25px; */
    /* padding: 0px 10px 10px 10px;
    margin: 0px 0px 10px 0px; */
}

.newdesign img {
    width: 160px;
    margin: auto;
}

.newdesign:hover {

    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.newbtn {
    margin-top: 15px;
    background-color: black;
    border: none;
}

.newbtn:hover {
    margin-top: 15px;
    background-color: black;
    border: none;
}

.newdesign .newbtn {
    visibility: hidden;

}

.newdesign:hover .newbtn {
    visibility: visible;
}

.newdesign:hover {
    visibility: visible;
}

.bannerimage img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .bannerimage img {
        display: none;
    }
}

.content {
    display: flex;
    overflow-x: auto;
}

.content::-webkit-scrollbar {
    display: none;
}

.bannerimagemobile img {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .bannerimagemobile img {
        display: none;
    }
}